{% extends 'base.html' %}

{% block title %}Post Success{% endblock %}

{% block header %}
<div class="container">
    <h1>ゲーム攻略サイト</h1>
    <nav>
        <ul>
            <li><a href="{% url 'kouryakuapp:index' %}">みんなの投稿一覧</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'kouryakuapp:mypage' %}">マイページ</a></li>
            <li><a href="{% url 'kouryakuapp:post' %}">投稿</a></li>
            <li><a href="{% url 'password_reset' %}">パスワードリセット</a></li>
            <li><a href="{% url 'accounts:logout' %}">ログアウト</a></li>
            {% else %}
            <li><a href="{% url 'accounts:signup' %}">サインアップ</a></li>
            <li><a href="{% url 'accounts:login' %}">ログイン</a></li>
            {% endif %}
        </ul>
    </nav>
</div>
{% endblock %}


{% block upper %}
<section id="home" class="hero">
    <h2>ようこそ！</h2>
    <p>最新の攻略情報やヒントをチェックしましょう。</p>
</section>
{% endblock %}

{% block contents %}
<br><br>
<div class="container">
  <div class="row">
    <div class="col offset-2">
      <h4>投稿が完了しました!</h4>
      <a href="{% url 'kouryakuapp:index' %}">投稿一覧へ</a>
    </div>
  </div>
</div>
{% endblock %}